nodes:
  'block-comment':
    name: 'Comment'

  'comment':
    name: 'Comment'

  'identifier "static" > identifier > punctuator "("':
    scopes:
      'ClassBody': 'MethodDefinition'

  'identifier > punctuator "("':
    scopes:
      'ClassBody': 'MethodDefinition'

  'identifier "this"':
    name: 'ThisExpression'

  'identifier "super"':
    name: 'Super'

  'identifier':
    name: 'Identifier'

  'keyword "import"':
    name: 'ImportDeclaration'

  'keyword "export" > operator "**"':
    name: 'ExportDefaultDeclaration'

  'keyword "export" > operator "*"':
    name: 'ExportAllDeclaration'

  'keyword "export"':
    name: 'ExportNamedDeclaration'

  'literal':
    name: 'Literal'

  'template':
    name: 'TemplateLiteral'

  'numeric':
    name: 'Literal'

  'punctuator "..."':
    name: 'SpreadElement'
    scopes:
      'FunctionDeclaration': 'RestElement'
      'FunctionExpression': 'RestElement'
