mapping:
  'Identifier > punctuator "."':
    name: 'MemberExpression'
  'Identifier > indention > punctuator "."':
    name: 'MemberExpression'
  'Identifier > punctuator "["':
    name: 'MemberExpression'
  'FunctionExpression > punctuator "."':
    name: 'MemberExpression'
  'ThisExpression > punctuator "."':
    name: 'MemberExpression'
  'Identifier > punctuator "("':
    name: 'CallExpression'
    allowNested: true
    scopes:
      'Property': 'FunctionExpression'
      'NewExpression': '$origin'
  'Identifier > punctuator ":"':
    name: 'ObjectExpression'
    scopes:
      'ConditionalExpression': '$origin'
  'Literal > punctuator ":"':
    name: 'ObjectExpression'
    scopes:
      'ConditionalExpression': '$origin'
  'MemberExpression > punctuator "("':
    name: 'CallExpression'
    allowNested: true
    scopes:
      'NewExpression': '$origin'
  'CallExpression > punctuator "."':
    name: 'MemberExpression'
  'Super > punctuator "("':
    name: 'CallExpression'
  'operator [=,*=,**=,/=,%=,+=,-=,
  <<=,>>=,>>>=,&=,^=,|=]':
    name: 'AssignmentExpression'
    scopes:
      'FunctionDeclaration': 'AssignmentPattern'
      'FunctionExpression': 'AssignmentPattern'
  'operator [instanceof,in,+,-,*,/,%,**,|,^,&,==,!=,===,!==,<,>,>=,<=,<<,>>,>>>]':
    name: 'BinaryExpression'
  'operator [++,--]':
    name: 'UpdateExpression'
  'operator [||,&&]':
    name: 'LogicalExpression'
  'punctuator "?"':
    name: 'ConditionalExpression'
  'FirescriptGrouping > operator "=>"':
    name: 'ArrowFunctionExpression'
